#menuOpciones a {
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    max-height: 30rem;
}

#derechos {
    font-size: 18px;
    background-color: rgb(191, 189, 189);
}
#encontranos{
    font-family: italic;
    
}
